*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL RULES*/
body{
  font-family: sans-serif;
}
.link-utili{
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 15px 15px;
  text-decoration: none;
  font-weight: 600;
  color: #23272ae2;
}



/* HEADER RULES*/
.jumbotron{
  background-color: #3161E0;
  padding-top: 10px;
  

  
}
.menu{
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;    /*misura fittizzia*/
  margin: 0px auto;
  background-color: #3161E0;
}

.logo{
  width: 25%;

}
.link-title{
  justify-content: center;
  width: 50%;
  
}
.link-title a{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 550;
  padding-left: 15px;
}


.button-login{
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
.button-login a{
  background-color: #FFFFFF;
  padding: 10px 10px;
  border-radius: 17px;
  text-decoration: none;
  color: #23272ae2;
  font-weight: 600;
}

.sfondo-titolo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-top: 10px;
}
.container-title{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 90%;
  color: #FFFFFF;
}
.container-title h1{
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container-title p{
  max-width: 65%;
  line-height: 25px;
  margin-bottom: 40px;
}

.container-title ul{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 0%;
  margin-left: 15px;
}
.container-title div ul li a{
  display: block;
  margin-left: 10px;
}
#symbol{
  font-size: 15px;
  font-weight: 1000;
}
/* MAIN RULES*/
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 244, 244);
  width: 100%;
  height: 500px;
}
.main-container-center{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(84, 80, 80);
  width: 100%;
  height: 500px;
}
.main-div{
  width: 50%;
  height: 90%;
  background-color: rgb(58, 80, 158);
}
.aside-section{
  width: 30%;
  height: 90%;
  background-color: rgb(255, 134, 199);
}
.big-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(84, 80, 80);
  width: 100%;
  height: 600px;
}
.main-big-div1{
  width: 80%;
  height: 20%;
  background-color: rgb(60, 158, 58);
}
.main-big-div2{
  width: 80%;
  height: 60%;
  background-color: rgb(158, 83, 58);
}
.main-big-div3{
  width: 80%;
  height: 20%;
  background-color: rgb(60, 158, 58);
}



/* FOOTER RULES*/
footer{
  background-color: rgb(44, 38, 45);
}
.blocco-referenze{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.social-block{
  width: 30%;
  height: 95%;
  background-color: aqua;
}
div.col{
  width: 12%;
  height: 95%;
  background-color: deeppink;
}

.ending-menu{
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 60px;
  margin: 10px auto;
  align-items: flex-end;
  background-color: rgb(44, 38, 45);
  border-top: 1px solid rgb(255, 255, 255);
}
ul{
  list-style-type: none;
  padding-top: 60px;
}
ul li{
  margin-top: 10px;
}