*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL RULES*/
body{
  font-family: 'Noto Sans', sans-serif;
}
.link-utili{
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: 600;
  color: #23272ae2;
}
main section aside h1{
  margin-top: 30px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #23272a;
}
main p{
  color: #23272ae8;
  line-height: 26px;
  margin-top: 10px;
  font-weight: 700;
}
h2{
  margin-top: 30px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #23272a;
}
a:hover{
  text-decoration: underline;
}
footer div, a{
  text-transform: capitalize;
}


/* HEADER RULES*/
.jumbotron{
  background-color: #3161E0;
  padding-top: 10px;
  

  
}
.menu{
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;    /*misura fittizzia*/
  margin: 0px auto;
  background-color: #3161E0;
}

.logo{
  width: 25%;

}
.link-title{
  display: flex;
  justify-content: center;
  width: 50%;
  
}
.link-title a{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 550;
  padding-left: 15px;
}


.button-login{
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
.button-login a{
  background-color: #FFFFFF;
  padding: 10px 10px;
  border-radius: 25px;
  text-decoration: none;
  color: #23272ae2;
  font-weight: 600;
}

.sfondo-titolo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-top: 10px;
}
.container-title{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 90%;
  color: #FFFFFF;
}
.container-title h1{
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container-title p{
  max-width: 65%;
  line-height: 25px;
  margin-bottom: 40px;
}

.container-title ul{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 0%;
  margin-left: 15px;
}
.container-title div ul li a{
  display: block;
  margin-left: 10px;
}
#symbol{
  font-size: 15px;
  font-weight: 1000;
}
#open-link{
  background-color: #23272A;
  color: #FFFFFF;
}
/* MAIN RULES*/
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 100%;
  height: 600px;
}
.main-container-center{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  width: 100%;
  height: 600px;
}
.main-div1{
  width: 50%;
  height: 90%;
  background-image: url(../img/item1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.aside-section1{
  width: 20%;
  height: 90%;
  text-align: left;
}
.main-div2{
  width: 50%;
  height: 90%;
  background-image: url(../img/item2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.aside-section2{
  width: 20%;
  height: 90%;
  text-align: left;
}
.main-div3{
  width: 50%;
  height: 90%;
  background-image: url(../img/item3.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.aside-section3{
  width: 20%;
  height: 90%;
  text-align: left;
}
.big-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  width: 100%;
  height: 900px;
}
.big-div-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #23272A;
  width: 80%;
  height: 20%;
}
.stars{
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.main-big-div-img{
  width: 80%;
  height: 50%;
  background-image: url(../img/item4-big.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.big-div-text h2{
  margin-top: ;
  margin-bottom: 30px;
}
.big-div-text h3{
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.light-blue{
  color: #FFFFFF;
  background-color: #8EA1E1;
}


/* FOOTER RULES*/
footer{
  background-color: #23272A;
}
footer h2{
  font-size: 2rem;
  color: #8EA1E1;
  margin-bottom: 15px;
}
.blocco-referenze{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.social-block{
  width: 18%;
  height: 95%;
  margin-right: 10%;
}
.social-block a{
  color: #FFFFFF;
  font-size: 12px;
  text-decoration: none;
  
}
#down-arrow{
  color: #FFFFFF;
  font-size: 20px;
  position: relative;
  bottom: -7px;

}
.social-logo{
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-top: 10px;
}
.social-block a img{
  width: 20px;
}
div.col{
  width: 13%;
  height: 95%;
}

.ending-menu{
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  margin: 10px auto;
  align-items: flex-end;
  border-top: 1px solid  #616e9a82;;
}
ul{
  list-style-type: none;
  padding-top: 60px;
}
ul li{
  margin-top: 10px;
  font-weight: 500;
}
ul li a{
  text-decoration: none;
  color: #FFFFFF;
}
.color-col{
  color: #8EA1E1;
  font-weight: 700;
}
.ending-menu img{
  margin-bottom: 10px;
  
}
.ending-menu a{
  color: #FFFFFF;
  background-color: #8EA1E1;
  margin-bottom: 17px;
}
#logo-bottom{
  background-color: #23272A;
}
